@model AlqoMishi.ViewModels.EditarEmpleadoViewModel

<h2>Editar Veterinario</h2>

<form asp-action="EditarEmpleado">

<input type="hidden" asp-for="Id"/>

<div class="mb-3">
<label>Nombre</label>
<input asp-for="Nombre" class="form-control"/>
</div>

<div class="mb-3">
<label>Apellido</label>
<input asp-for="Apellido" class="form-control"/>
</div>

<div class="mb-3">
<label>Email</label>
<input asp-for="Email" class="form-control"/>
</div>

<div class="mb-3">
<label>Especialidad</label>
<input asp-for="Especialidad" class="form-control"/>
</div>

<div class="form-check mb-3">
<input asp-for="EstaDisponible" class="form-check-input"/>
<label class="form-check-label">Disponible</label>
</div>

<button class="btn btn-primary">Guardar cambios</button>

<a asp-action="Empleados" class="btn btn-secondary">
Cancelar
</a>

</form>