@model AlqoMishi.ViewModels.LoginViewModel

<h2>Iniciar sesión</h2>

<form asp-action="Login" method="post">

<div class="mb-3">

<label>Email</label>

<input asp-for="Email" class="form-control"/>

</div>

<div class="mb-3">

<label>Contraseña</label>

<input asp-for="Password" class="form-control"/>

</div>

<button class="btn btn-primary">

Entrar

</button>

<div class="mt-3 text-center">

    <a asp-controller="Account"
       asp-action="RecuperarPassword">

       ¿Olvidaste tu contraseña?

    </a>

</div>

</form>